certifi==2016.9.26
cycler==0.11.0
imageio==2.15.0
imageio-ffmpeg==0.4.7
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
Pillow==8.4.0
psutil==5.9.2
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
tkVideo==0.1
